
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location">




    <div class="pin-selectors">
      <div class="dropdown pins">
        <div id="marker-selector" class= "controls">
          <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Pins<span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><input type="radio" name="type" id="changermarker-smell" value="smell">
            <label for="changemarker-smell">smell</label></li>

            <li><input type="radio" name="type" id="changermarker-goose" value="goose">
            <label for="changemarker-goose">goose</label></li>

            <li><input type="radio" name="type" id="changermarker-event" value="event">
            <label for="changemarker-event">event</label></li>

            <li><input type="radio" name="type" id="changermarker-road-condition" value="roadCondition">
            <label for="changemarker-road-conditionç">road</label></li>

            <li><input type="radio" name="type" id="changermarker-general" value="general">
              <label for="changemarker-general">other</label></li>
          </ul>
        </div>
      </div>

      <div class="dropdown pins">
        <div id="avoid-selector" class= "controls">
          <a class="btn btn-default" role="button" data-toggle="dropdown" href="#">Avoid Pins<span class="caret"></span></a>
          <ul class="dropdown-menu">

          <li><input type="radio" name="name" id="avoid-nothing" value="nothing">
          <label for="avoid-nothing">nothing</label></li>

          <li><input type="radio" name="name" id="avoid-everything" value="everything">
          <label for="avoid-everything">all</label></li>

          <li><input type="radio" name="name" id="avoid-smell" value="smell">
          <label for="avoid-smell"> smell</label></li>

          <li><input type="radio" name="name" id="avoid-goose" value="goose">
          <label for="avoid-goose">goose</label></li>

          <li><input type="radio" name="name" id="avoid-event" value="event">
          <label for="avoid-event">event</label></li>

          <li><input type="radio" name="name" id="avoid-road-condition" value="roadCondition">

          <label for="avoid-road-conditionç">road</label></li>

          <li><input type="radio" name="name" id="avoid-general" value="general">

          <label for="avoid-general">other</label></li>

          </ul>
        </div>
      </div>
    </div>


    <div id="map"></div>
<!--     <div id="legend"><h3></h3></div>
 -->    <div id="map-page">

    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&libraries=places,geometry&callback=initMap" async defer></script>

