.logo{
  display: inline-block;
  width: 45%;
}
.logo img {
  width: 65%;
  height: 65%;
  display: inline-block;
  float: left;
}
.devise-stuff p {
 margin: 0;
 padding: 0px;
}
.dropdown {
 float: right;
 position: relative;
 top: -42px;
 margin: 0 auto;
 padding-right: 5px;
 a img {width: 32px;}
 .dropdown-menu li{}

}
.nav-bar {
  height: 34px;

}
#avoid-selector{
  font-size: 12px;
  font-family: "Montserrat";
}
#marker-selector{
  font-family: "Montserrat";
  font-size: 12px;
}
.dropdown.pins {

  position: relative;
  top: 1px;
  padding-bottom: 10px;

  float: left;
}

.home_logo img {
  width: 80%;
  margin: auto;
  display: block;
  padding-top: 50px;

}

.home_content {
  background: url("http://res.cloudinary.com/lx9gdutds/image/upload/v1497306295/iphone5_bspoke_n1t2hk.png");
  background-repeat: no-repeat;
  background-size:100% auto;

}
.buttons {
  margin: auto;
  width: 50%;
  padding-top: 90px;
  padding-left: 20px;
}

.route_button {

  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  font: normal 14px/normal Montserrat, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, #0bc0dc 0, #0bc0dc 9%, #668586 95%, #668586 100%);
  background: -moz-linear-gradient(180deg, #0bc0dc 0, #0bc0dc 9%, #668586 95%, #668586 100%);
  background: linear-gradient(180deg, #0bc0dc 0, #0bc0dc 9%, #668586 95%, #668586 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: rotateX(-3.4377467707849396deg) rotateY(-1.7188733853924696deg)   ;
  transform: rotateX(-3.4377467707849396deg) rotateY(-1.7188733853924696deg);
  margin-bottom: 10px;
  width: 55%;

}
.login_button{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  font: normal 14px/normal Montserrat, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-104.03624346792648deg, #29dba3 0, #29dba3 22%, #0bc0dc 46%, #668586 76%, #29dba3 94%, #29dba3 100%);
  background: -moz-linear-gradient(194.03624346792648deg, #29dba3 0, #29dba3 22%, #0bc0dc 46%, #668586 76%, #29dba3 94%, #29dba3 100%);
  background: linear-gradient(194.03624346792648deg, #29dba3 0, #29dba3 22%, #0bc0dc 46%, #668586 76%, #29dba3 94%, #29dba3 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: rotateX(-3.4377467707849396deg) rotateY(-1.7188733853924696deg)   ;
  transform: rotateX(-3.4377467707849396deg) rotateY(-1.7188733853924696deg) ;
  width: 55%;
  margin-bottom: 10px;
}
body{
  background: url("http://res.cloudinary.com/lx9gdutds/image/upload/v1497488735/form_background_bspoke_vdiife.png");
  background-repeat: no-repeat;
  background-size:100% auto;

}
#new_user{
margin: 0 auto;
width:50%;

}
/*-webkit-box-shadow: 0 0 0 1000px white inset !important;*/
#new_user input{
    display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  font: normal 14px/normal Montserrat, sans-serif;
  color:black;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-104.03624346792648deg, #29dba3 0, #29dba3 22%, #0bc0dc 46%, #668586 76%, #29dba3 94%, #29dba3 100%);
  background: -moz-linear-gradient(194.03624346792648deg, #29dba3 0, #29dba3 22%, #0bc0dc 46%, #668586 76%, #29dba3 94%, #29dba3 100%);
  background: linear-gradient(194.03624346792648deg, #29dba3 0, #29dba3 22%, #0bc0dc 46%, #668586 76%, #29dba3 94%, #29dba3 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: rotateX(-3.4377467707849396deg) rotateY(-1.7188733853924696deg)   ;
  transform: rotateX(-3.4377467707849396deg) rotateY(-1.7188733853924696deg) ;
  width: 55%;
  margin-bottom: 10px;
}
#user_password{
  background-color:white;
}
#h2-login{
padding-top: 9px;
padding-left: 25px;
margin: 0 auto;
width:50%;
color:#0BC0DC;
text-shadow: 2px 2px white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
#user_email{
  -webkit-box-shadow: 0 0 0 1000px white inset !important;

}
#user_password{
  -webkit-box-shadow: 0 0 0 1000px white inset !important;

}
.field{
color:#ADE8E6;
text-shadow: 2px 2px #668586;
}
#h2-sign-up{
padding-top: 9px;
padding-left: 25px;
margin: 0 auto;
width:50%;
color:#0BC0DC;
text-shadow: 2px 2px white;
}
#user_password_confirmation{
  -webkit-box-shadow: 0 0 0 1000px white inset !important;

}

