
<div class="about-page">
  <p>BSpoke is a mobile-first web app that enables cyclists to find safe routes by allowing users the ability to place markers on the map in order to notify other cyclists of possible dangers along their route.

  Users are given the option to avoid the markers of their choice, by doing so they are given an alternative route that is then sent to the google maps application for turn-by-turn directions. </p>
  <h4> Legend </h4>
  <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497219196/bspoke_warning_izvhrq.png"><li>Other - Miscellaneous things you may want to avoid</li>

  <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497223391/smell_warning_pfms1z.png"><li>Unpleasant Smells</li>

  <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497220304/goose_warning_no_color_ze3xkp.png"><li>Beware of Geese Attacks</li>

  <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497221277/party_warning_swwwmb.png"><li>Event in the area, possible road blocks, pedestrian traffic</li>

  <img src="http://res.cloudinary.com/lx9gdutds/image/upload/v1497220166/warning_cone_aw0l7w.png"><li>Unsafe Road Conditions or Road Construction happening </li>
</div>
